# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\arnau\OneDrive\Documents\Universite\Automne 2021\vision\projet\GIF-4100_Reconstruction_3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
